*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    width: 70%; 
    border: 2px solid black;
    margin-left: auto;
    margin-right: auto;
    font-size: 0;
    padding: 20px;
}
.section{
    display: inline-block;
    width: calc(70% / 3 - 4px);
    height: 400px;
    border: 2px solid red; 
    margin: 10px;
    position: relative; 
}

.sfondobox1{
    background-image:url(./img/1.webp);
    background-size: cover;
}

.boxoverlay{
    background-image: url(./img\1b.webp);
    background-size: cover;
    height: 400px;
}


.like{
    font-size: 10px;
    width: 50px;
    height: 50px;
    background-color: white;
    position: absolute;
    right: 0;
    top: 0;
}
#skul{
    display: inline-block;
    font-size: x-large;
    line-height: 50px;
    text-align: center;
    margin-left: 12px;
}
.discount{
    position: absolute;
    left: 0;
    bottom: 20px;
}

.discount1{
    font-size: large;
    background-color: red;
    display: inline-block;
    width: auto;
    height: 20px;
}
.discount2{
    font-size: large;
    background-color: green;
    display: inline-block;
    width: auto;
    height: 20px;
    margin-left: 3px;
}
.description{
    display: inline-block;
    width: auto;
    height: auto;
    border: 2px solid black;
    
    
}

.marchio{
    font-size: 15px;
    color: gray;
    display: block;
}
.nome{
    font-size: 20px;
    font-weight: 100;
    display: block;
}
.prezzo{
    display: block;
    font-size: 15px;
    color: red;
}